.navbar {
    top: 0;
    height: 70px;
    width: 100%;
    background-color:rgb(65, 87, 255); 
    position: fixed;
    z-index: 5;

   
}

.nav {
    margin-left: 40px;
}
.nav-item {
  
    font-family: sans-serif;
    font-size: large; 
    float: left;
}
#nav-1 {
    color: whitesmoke;
    font-size: 20px;
    
   
    
}
#nav-2 {
   color: whitesmoke;
    font-size: 20px;
    margin-left: 15px;
   
 
}
.navbar-brand {
    margin: 0;
    padding: 0;
    
}
 


