.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1565361587753-6c55978411d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60");
    position: relative;
    top: 0;
    width: 100%;
    height: 270px;
    z-index: 1;
 
    
}
h1 {
    color: rgb(170, 233, 227);
    position: relative;
    padding-left: 35%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 45px;
   
}