.footer {
    min-height: 50px;
    background: grey;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    z-index: 1;
}

.footer span {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    top: 15px;
    text-align: center;
    font-family: monospace;
    color: rgb(170, 233, 277);
}